<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository)**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
data["native-country"].value_counts(normalize=True)["Germany"]*100
#data["native-country"].value_counts() #(normalize=True)["Germany"]

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
dt_abv_50 = data["salary"] == ">50K"

avg_abv = data[dt_abv_50]["age"].mean()
std_abv = data[dt_abv_50]["age"].std()
avg_blw = data[~dt_abv_50]["age"].mean()
std_blw = data[~dt_abv_50]["age"].std()

print("\n Mean Age of >50K group = =", avg_abv)
print("\n Std Deviation of age for >50K group = ", std_abv)

print("\n Mean Age of <=50K group = =", avg_blw)
print("\n Std Deviation of age for <=50K group = ", std_blw)

 Mean Age of >50K group = = 44.24984058155847

 Std Deviation of age for >50K group =  10.519027719851826

 Mean Age of <=50K group = = 36.78373786407767

 Std Deviation of age for <=50K group =  14.02008849082488

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
ed_list=data[["education","education-num"]].drop_duplicates().sort_values("education-num")
hs_grade_num= ed_list[ed_list["education"] == "12th"]["education-num"].values[0]
min_grd_abv50k = ed_list[ed_list["education-num"] == data[dt_abv_50]["education-num"].min()]["education-num"].values[0]
print("The statement `above 50K earners have at least high school education` is %r" % ( min_grd_abv50k >= hs_grade_num) )

The statement `above 50K earners have at least high school education` is False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [15]:
print(data.describe)
print('-----------------------------------------------------------------')
grp_age=data.groupby(['race', 'sex'], as_index=False).agg({'age':['mean','min','max']})
grp_age.columns=['race','sex','age-avg', 'age-min', 'age-max' ]
print(grp_age)
print('\n-----------------------------------------------------------------')
print("The maximum age of men of Amer-Indian-Eskimo race is %d" 
      % (grp_age[ (grp_age['race'] == 'Amer-Indian-Eskimo') & (grp_age['sex'] == 'Male')]['age-max'].values[0]) )

<bound method NDFrame.describe of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary  \
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

      MRT_STATUS
0       BACHELOR
1        MARRIED
2       BACHELOR
3        MARRIED
4        MARRIED
...          ...
32556    MARRIED
32557    MARRIED
32558   BACHELOR
32559   BACHELOR
32560    MARRIED

[32561 rows x 16 columns]>
-----------------------------------------------------------------
                 race     sex    age-avg  age-min  age-max
0  Amer-Indian-Eskimo  Female  37.117647       17       80
1  Amer-Indian-Eskimo    Male  37.208333       17       82
2  Asian-Pac-Islander  Female  35.089595       17       75
3  Asian-Pac-Islander    Male  39.073593       18       90
4               Black  Female  37.854019       17       90
5               Black    Male  37.682600       17       90
6               Other  Female  31.678899       17       74
7               Other    Male  34.654321       17       77
8               White  Female  36.811618       17       90
9               White    Male  39.652498       17       90

-----------------------------------------------------------------
The maximum age of men of Amer-Indian-Eskimo race is 82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [16]:
data["MRT_STATUS"] = data['marital-status'].apply(lambda m: 'MARRIED' if m.startswith('Married') else 'BACHELOR')
grp_earn=data[data['sex'] == 'Male'][['MRT_STATUS','salary','age']].groupby(['MRT_STATUS','salary'],as_index=False).agg(['count'])
grp_earn=grp_earn.reset_index()
grp_earn.columns=['MARITAL_STATUS','SALARY','COUNT']
print(grp_earn)
print("\nAmong Bachelors and MARRIED, the proportion of earning >50K is high in %s group" %(grp_earn[grp_earn.SALARY == '>50K'].sort_values('COUNT', ascending=False).values[0][0]) )

  MARITAL_STATUS SALARY  COUNT
0       BACHELOR  <=50K   7552
1       BACHELOR   >50K    697
2        MARRIED  <=50K   7576
3        MARRIED   >50K   5965

Among Bachelors and MARRIED, the proportion of earning >50K is high in MARRIED group

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [17]:
hrs_max = data["hours-per-week"].max()
ppl_wrkd_max_hrs = data[data['hours-per-week'] == hrs_max]
print("\n %d People are working at maximum hours per week - which is %d" %(ppl_wrkd_max_hrs.size, hrs_max) )

 1360 People are working at maximum hours per week - which is 99

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [11]:
grp_work_time=data[data["native-country"] != '?'].groupby(['native-country', 'salary'], 
                                                          as_index=False).agg({'hours-per-week':['mean']})
grp_work_time.columns = ['NATIVE-COUNTRY', 'SALARY', 'AVG-HRS-PER-WEEK']
print(grp_work_time)
print('\n Average time work for Japan :')
print(grp_work_time[grp_work_time['NATIVE-COUNTRY'] == 'Japan'])

   NATIVE-COUNTRY SALARY  AVG-HRS-PER-WEEK
0        Cambodia  <=50K         41.416667
1        Cambodia   >50K         40.000000
2          Canada  <=50K         37.914634
3          Canada   >50K         45.641026
4           China  <=50K         37.381818
..            ...    ...               ...
75  United-States   >50K         45.505369
76        Vietnam  <=50K         37.193548
77        Vietnam   >50K         39.200000
78     Yugoslavia  <=50K         41.600000
79     Yugoslavia   >50K         49.500000

[80 rows x 3 columns]

 Average time work for Japan :
   NATIVE-COUNTRY SALARY  AVG-HRS-PER-WEEK
45          Japan  <=50K         41.000000
46          Japan   >50K         47.958333